.mt-0{
    margin-top: 0;
}

.mt-1{
    margin-top: 1rem;
}

.mt-8p{
    margin-top: 8px;
}

.mt-10{
    margin-top: 10rem
}

.mt-16{
    margin-top: 16rem
}

.mt-auto{
    margin-top: auto
}

.ml-auto{
    margin-left: auto;
}

.mb-0{
    margin-bottom: 0;
}

.mb-1{
    margin-bottom: 1rem;
}

.mb-auto{
    margin-bottom: auto;
}

.mr-0{
    margin-right: 0;
}

.mr-1{
    margin-right: 1rem;
}

.mr-auto{
    margin-right: auto;
}

.margin-none{
    margin: 0;
}

.margin-all-1{
    margin: 1rem;
}